
Makefile
config.h
config.log
config.status
docs/Makefile
docs/reference/Makefile
glade/.deps/
glade/Makefile
glade/icons/16x16/Makefile
glade/icons/22x22/Makefile
glade/icons/Makefile
icons/128x128/Makefile
icons/16x16/Makefile
icons/48x48/Makefile
icons/Makefile
icons/scalable/Makefile
libtool
libxfce4kbd-private/.deps/
libxfce4kbd-private/Makefile
libxfce4kbd-private/libxfce4kbd-private-3.pc
libxfce4ui/.deps/
libxfce4ui/.libs/
libxfce4ui/Makefile
libxfce4ui/libxfce4ui-2.pc
libxfce4ui/libxfce4ui_2_la-*.lo
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
stamp-h1
tests/.deps/
tests/Makefile
xfce4-about/.deps/
xfce4-about/Makefile

